<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Images/quester.png" type="image/x-icon">
    <title> Questers World - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        var GoTrust = function () {
            alert("Oops! Working on the Links.")
        }
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" style="text-decoration:none"><img src="/Images/quester.png" width="60" height="60" />QW</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li><a @*href="@Url.Action("Index","UserAccounts")"*@ href="#" onclick="GoTrust()"><span class="glyphicon glyphicon-credit-card logo-small"></span>My Account </a></li>
                    <li><a @*href="@Url.Action("MyProfile","Cc")"*@ href="#" onclick="GoTrust()"><span class="glyphicon glyphicon-user logo-small"></span>My Profile </a></li>
                    <li><a @*href="@Url.Action("MyPh","Cc")"*@ href="#" onclick="GoTrust()"><span class="glyphicon glyphicon-upload logo-small"></span>Provide Help </a></li>
                    <li><a @*href="@Url.Action("Index","GH")"*@ href="#" onclick="GoTrust()"><span class="glyphicon glyphicon-ok-circle logo-small"></span>Get Help</a></li>
                    <li><a @*href="@Url.Action("Index","News")"*@ href="#" onclick="GoTrust()"><span class="glyphicon glyphicon-info-sign logo-small"></span>News </a></li>
                    <li><a @*href="@Url.Action("Index","Smiles")"*@ href="#" onclick="GoTrust()"><span class="glyphicon glyphicon-folder-open logo-small"></span>&nbsp;Transactions </a></li>
                    <li><a @*href="@Url.Action("Index","UserSupports")"*@ href="#" onclick="GoTrust()"><span class="glyphicon glyphicon-question-sign logo-small"></span>Support </a></li>
                    @*<li>@Html.ActionLink("My Profile", "MyProfile", "Cc")</li>
                        <li>@Html.ActionLink("Provide Help", "MyPh", "Cc")</li>
                        <li>@Html.ActionLink("Get Help", "Index", "GH")</li>
                        <li>@Html.ActionLink("News","Index","News")</li>
                        <li>@Html.ActionLink("Transactions", "Index", "Smiles")</li>
                        <li>@Html.ActionLink("Support", "Index", "UserSupports")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Questersworld.net</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
