@model IEnumerable<QuestersWorld.Models.Setting>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PercentageInterest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserLimit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PercentageInterest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserLimit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
