@model IEnumerable<QuestersWorld.Models.MatchedTemp>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GH.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PH.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GHAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedPaymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedPaymentTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GH.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PH.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GHAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpectedPaymentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpectedPaymentTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
